body {
    font-size:16px;
    line-height:1.5;
    color:#ddd;
    background:#222;
}

.header {
    border-bottom: 1px solid #666;
    padding: 15px 0;
}

.footer {
    border-top: 1px solid #666;
    padding: 15px 0;
}
